.root-container {
  //display: flex;
  flex-direction: row;
  margin: 6%;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 200px;
}

.test-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.test-name {
  font-size: large;
}
