<app-tool-bar
  [isSidenav]="false">
</app-tool-bar>

<div class="content">
  <div class="login-page">
    <mat-card class="mat-elevation-z12 login-card">
      <mat-card-title class="login-card-title">
        {{ 'LOGIN.SIGN_IN' | translate}}/{{'LOGIN.SIGN_UP' | translate}}
      </mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="{{'LOGIN.SIGN_IN' | translate}}">
          <mat-card-content class="login-card-content">
            <form action="">
              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="{{'LOGIN.EMAIL' | translate}}"
                    required
                    name="email"
                    ngModel
                    #email="ngModel">
                </label>
                <mat-error *ngIf="email.invalid">
                  {{'LOGIN.EMAIL_IS_REQUIRED' | translate}}
                </mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="{{'LOGIN.PASSWORD' | translate}}"
                    type="password"
                    required
                    minlength="5"
                    name="password"
                    ngModel
                    #password="ngModel">
                </label>
                <mat-error
                  *ngIf="password.errors && password.errors.required">
                  {{'LOGIN.PASSWORD_IS_REQUIRED' | translate}}
                </mat-error>
                <mat-error
                  *ngIf="password.errors && password.errors.minlength">
                  {{'LOGIN.PASSWORD_MINLENGTH' | translate}}
                </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-checkbox class="login-checkbox">
                {{'LOGIN.REMEMBER_ME' | translate}}
              </mat-checkbox>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                {{'LOGIN.SIGN_IN' | translate}}
              </button>

              <button
                mat-raised-button
                class="login-button">
                {{'LOGIN.LOGIN_WITH_GOOGLE' | translate}}
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="{{'LOGIN.SIGN_UP' | translate}}">
          <mat-card-content class="login-card-content">
            <form action="">

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="{{'LOGIN.FIRST_NAME' | translate}}"
                    required
                    name="firstname"
                    ngModel
                    #firstName="ngModel">
                </label>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="firstName.invalid">
                  {{'LOGIN.FIRST_NAME_IS_REQUIRED' | translate}}
                </mat-error>

              </mat-form-field>

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="{{'LOGIN.LAST_NAME' | translate}}"
                    required
                    name="lastname"
                    ngModel
                    #lastName="ngModel">
                </label>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="lastName.invalid">
                  {{'LOGIN.LAST_NAME_IS_REQUIRED' | translate}}
                </mat-error>

              </mat-form-field>

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="{{'LOGIN.LOGIN_NAME' | translate}}"
                    required
                    name="login"
                    ngModel
                    #loginName="ngModel">
                </label>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="loginName.invalid">
                  {{'LOGIN.LOGIN_IS_REQUIRED' | translate}}
                </mat-error>

              </mat-form-field>

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="{{'LOGIN.EMAIL' | translate}}"
                    required
                    name="email"
                    ngModel
                    #email="ngModel">
                </label>
                <mat-error *ngIf="email.invalid">
                  {{'LOGIN.EMAIL_IS_REQUIRED' | translate}}
                </mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="{{'LOGIN.PASSWORD' | translate}}"
                    type="password"
                    required
                    minlength="5"
                    name="password"
                    ngModel
                    #password="ngModel">
                </label>
                <mat-error
                  *ngIf="password.errors && password.errors.required">
                  {{'LOGIN.PASSWORD_IS_REQUIRED' | translate}}
                </mat-error>
                <mat-error
                  *ngIf="password.errors && password.errors.minlength">
                  {{'LOGIN.PASSWORD_MINLENGTH' | translate}}
                </mat-error>
                <mat-icon matSuffix>lock</mat-icon>

              </mat-form-field>

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="{{'LOGIN.PASSWORD' | translate}}"
                    type="password"
                    required
                    minlength="5"
                    name="repassword"
                    ngModel
                    #repassword="ngModel">
                </label>
                <mat-error
                  *ngIf="repassword.errors && repassword.errors.required">
                  {{'LOGIN.RE_ENTER_PASSWORD' | translate}}
                </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                {{'LOGIN.SIGN_UP' | translate}}
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
