<app-tool-bar
  [isSidenav]="false">
</app-tool-bar>

<div class="content">
  <div class="login-page">
    <mat-card class="mat-elevation-z12 login-card">
      <mat-card-title class="login-card-title">SignIn/SignUp</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Sign In">
          <mat-card-content class="login-card-content">
            <form action="">
              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="Email"
                    required
                    name="email"
                    ngModel
                    #email="ngModel">
                </label>
                <mat-error *ngIf="email.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="Password"
                    type="password"
                    required
                    minlength="6"
                    name="password"
                    ngModel
                    #password="ngModel">
                </label>
                <mat-error
                  *ngIf="password.errors && password.errors.required">
                  Password is required
                </mat-error>
                <mat-error
                  *ngIf="password.errors && password.errors.minlength">
                  Password must be of length 6
                </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-checkbox class="login-checkbox">Remember Me!</mat-checkbox>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Sign In
              </button>

              <button
                mat-raised-button
                class="login-button">
                Login with Google
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Sign Up">
          <mat-card-content class="login-card-content">
            <form action="">

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="First Name"
                    required
                    name="username"
                    ngModel
                    #firstName="ngModel">
                </label>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="firstName.invalid">
                  First name is required
                </mat-error>

              </mat-form-field>

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="Last Name"
                    required
                    name="lastname"
                    ngModel
                    #lastName="ngModel">
                </label>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="lastName.invalid">
                  Last name is required
                </mat-error>

              </mat-form-field>

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="Login"
                    required
                    name="login"
                    ngModel
                    #loginName="ngModel">
                </label>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="loginName.invalid">
                  Login is required
                </mat-error>

              </mat-form-field>

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="Email"
                    required
                    name="email"
                    ngModel
                    #email="ngModel">
                </label>
                <mat-error *ngIf="email.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="Password"
                    type="password"
                    required
                    minlength="5"
                    name="password"
                    ngModel
                    #password="ngModel">
                </label>
                <mat-error
                  *ngIf="password.errors && password.errors.required">
                  Password is required
                </mat-error>
                <mat-error
                  *ngIf="password.errors && password.errors.minlength">
                  Password must be of length 5
                </mat-error>
                <mat-icon matSuffix>lock</mat-icon>

              </mat-form-field>

              <mat-form-field class="login-form-field">
                <label>
                  <input
                    matInput
                    placeholder="Password"
                    type="password"
                    required
                    minlength="5"
                    name="repassword"
                    ngModel
                    #repassword="ngModel">
                </label>
                <mat-error
                  *ngIf="repassword.errors && repassword.errors.required">
                  Re-Enter Password is required
                </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Sign Up
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
