<div class="root-container">
  <mat-toolbar color="primary" class="main-toolbar">
    <span>Featuric</span>
    <a class="name-margin size" mat-button routerLink="/start">Home</a>
    <a class="size" mat-button routerLink="/tests_catalog">Tests</a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" (click)="copyLink()">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
    <mat-sidenav-container *ngIf="isSidenav" class="sidenav-container" autosize>
      <mat-sidenav mode="side" opened="true">
        <app-category-view
          [categories]="categories">
        </app-category-view>
      </mat-sidenav>

      <ng-content></ng-content>

    </mat-sidenav-container>
</div>

